.DS_Store
.idea
.vscode

app/test_txt.py
app/encoder_model.h5
app/decoder_model.h5
app/old_models

app/utils/aozora_samples
app/utils/txt_data/100.txt
app/utils/prepare_text.txt
app/utils/prepare_text.pickle
app/utils/__pycache__
app/utils/prac_pandas.py

app/utils/txt_data/test_tweets.csv